.footer{
	background: #303036;
	color: #d3d3d3;
    height: 337px;
    position: relative;
    margin-top: 157px;
}
.footer-inner {
	list-style: none;
    display: inline-block;
    padding-left: 177px;

}

.footer-inner1{
	padding-left: 151px;
    display: inline-block;
    list-style: none;
}


.footer-inner2{
	display: inline-block;
    padding-left: 154px;
    list-style: none;
}

.footer-inner3{
	display: inline-block;
    padding-left: 175px;
    list-style: none;
}




.foot{
	background: #122842;
	color: #d3d3d3;
    height: 300px;
    position: relative;
}

.footer-inner4{
	display: table;
    padding-left: 1262px;
    list-style: none;
    margin-top: -189px;
}

.footer-bottom{
background: #343a40;
color: #686868;
height: 35px;
width: 1500px;
text-align: center;
position: absolute;
bottom: 0px;
left: 0px;
padding-top: 20px;

}